.carousel {
    width: 50%;
    margin: auto;
}

@media all and (max-width: 786px) {
    .carousel {
        width: 70%;
    }
}

@media all and (max-width: 510px) {
    .carousel {
        width: 100%;
    }
}