{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="col-12 portfolio">
	{% placeholder "content_portfolio" %}
	<section>
		<div class="row">
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article1" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article2" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article3" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article4" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article5" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article6" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article7" %}
			</div>
			<div class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mb-3">
				{% placeholder "content_portfolio_article8" %}
			</div>
		</div>
		<section>
</div>
{% endblock content %}